@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}
@keyframes heartFloat {
  0% {
    transform: translateY(100vh) scale(0.8);
    opacity: 0;
  }

  20% {
    opacity: 0.2;
  }

  100% {
    transform: translateY(-100px) scale(1.2);
    opacity: 0;
  }
}

.animate-heart-float {
  animation: heartFloat 12s linear infinite;
}

@keyframes frostFloat {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }

  20% {
    opacity: 0.25;
  }

  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

.animate-frost-float {
  animation: frostFloat 10s linear infinite;
}